a{
    font-family: 'Montserrat';
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 5px;

}

.FondoNav{
    background-color:rgb(242, 219, 156);
}

header{
    font-size: 30px;
    list-style: none;
}